dump.json
[{"updatedAt":"2026-04-19T04:14:20.862Z","createdAt":"2026-04-19T04:11:20.448Z","id":"ysDmH5LnhJ567Csy","name":"Dark Needle Video Factory (Auto E2E) - FIXED","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"cc46cae6-0821-4513-b6a3-f58138aff0a3","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[128,464]},{"parameters":{"fileSelector":"c:/Users/ADM/OneDrive - VNU-HCMUS/Documents/New project/video-demo/script.txt","options":{}},"id":"8d06e97b-7cda-473b-8379-62dcc9fb1b12","name":"Đọc Kịch Bản","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[256,304]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyC2LYe7COJX2E3q4OFuXZ1WoRludiuHOEc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"contents","value":"={{ [ { \"parts\": [ {\"text\": \"Bạn là Đạo diễn Video. Dưới đây là nội dung: \\n\\n\" + $json.data + \"\\n\\nHãy chia cảnh và chọn template (BigTextReveal, KeywordCards, ImpactWord, CounterReveal, TriedItAllList, SequentialLines). Đầu ra BẮT BUỘC phải là chuỗi JSON hợp lệ không có markdown block. Xem mẫu: { \\\"compositionId\\\": \\\"AutoVideo\\\", \\\"palette\\\": {}, \\\"scenes\\\": [] }\"} ] } ] }}"}]},"options":{}},"id":"eb73de35-9eef-482c-a1a7-31d87cb74765","name":"Gemini (Đạo diễn chia cảnh)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,304]},{"parameters":{"operation":"write","options":{}},"id":"2b5717e2-19b2-4211-9ba4-b7a0d0476f67","name":"Lưu video_plan.json","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[656,304]},{"parameters":{"command":"python tools/elevenlabs_audio_tool.py"},"id":"0de70cf9-6621-4484-81ca-6212270f73b6","name":"ElevenLabs (Tạo file âm thanh & VTT)","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[848,304]},{"parameters":{"command":"node tools/plan_processor.js"},"id":"b098cff8-1611-43e6-b287-0f215f798cf8","name":"Đồng bộ Frame Logic","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1056,304]},{"parameters":{"command":"node tools/code_generator.js"},"id":"6c929ad4-7ed8-447d-af24-2a5e4abd7eee","name":"Tự động sinh Code React","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1248,304]},{"parameters":{"command":"node tools/qa_validator.js"},"id":"260d93bd-ed39-41ab-a0fa-84d6f0ef49a8","name":"Kiểm định hình ảnh (QA)","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1456,304]},{"parameters":{"command":"npx remotion render AutoVideo \"n8n_factory_output.mp4\" --overwrite"},"id":"478f5bc1-2614-4925-96a0-0036d8f7632d","name":"Render Video MP4","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1648,304]}],"connections":{"Manual Trigger":{"main":[[{"node":"Đọc Kịch Bản","type":"main","index":0}]]},"Đọc Kịch Bản":{"main":[[{"node":"Gemini (Đạo diễn chia cảnh)","type":"main","index":0}]]},"Gemini (Đạo diễn chia cảnh)":{"main":[[{"node":"Lưu video_plan.json","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"d099ed0d-8c12-49e2-8820-85488e8fbc5d","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-19T04:11:20.456Z","createdAt":"2026-04-19T04:11:20.456Z","role":"workflow:owner","workflowId":"ysDmH5LnhJ567Csy","projectId":"jHiIvClELL5cJd16","project":{"updatedAt":"2026-04-19T04:08:08.473Z","createdAt":"2026-04-19T04:07:29.132Z","id":"jHiIvClELL5cJd16","name":"Thắng Nguyễn Quang <nuyenthang62@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd93ab0c-93f8-4595-8acb-1a8d2bdbbcfd"}}],"versionMetadata":{"name":null,"description":null}}]