video-demo/n8n_master_workflow_v2_fixed2.json
{
  "name": "Dark Needle Video Factory (Auto E2E) - EXACT FIX",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-start",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "c:/Users/ADM/OneDrive - VNU-HCMUS/Documents/New project/video-demo/script.txt"
      },
      "id": "read-script",
      "name": "Đọc Kịch Bản",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyC2LYe7COJX2E3q4OFuXZ1WoRludiuHOEc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [ { \"parts\": [ {\"text\": \"Bạn là Đạo diễn Video. Dưới đây là nội dung: \\n\\n\" + $json.data + \"\\n\\nHãy chia cảnh và chọn template (BigTextReveal, KeywordCards, ImpactWord, CounterReveal, TriedItAllList, SequentialLines). Đầu ra BẮT BUỘC phải là chuỗi JSON hợp lệ không có markdown block. Xem mẫu: { \\\"compositionId\\\": \\\"AutoVideo\\\", \\\"palette\\\": {}, \\\"scenes\\\": [] }\"} ] } ] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-director",
      "name": "Gemini (Đạo diễn chia cảnh)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 400, 300 ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileSelector": "c:/Users/ADM/OneDrive - VNU-HCMUS/Documents/New project/video-demo/src/AutoVideo/video_plan.json",
        "content": "={{ $json.candidates[0].content.parts[0].text.replace(/```json/g, '').replace(/```/g, '') }}",
        "options": {}
      },
      "id": "save-plan",
      "name": "Lưu video_plan.json",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [ 600, 300 ]
    },
    {
      "parameters": {
        "command": "python tools/elevenlabs_audio_tool.py"
      },
      "id": "audio-agent",
      "name": "ElevenLabs (Tạo file âm thanh & VTT)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 800, 300 ]
    },
    {
      "parameters": {
        "command": "node tools/plan_processor.js"
      },
      "id": "plan-processor",
      "name": "Đồng bộ Frame Logic",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 1000, 300 ]
    },
    {
      "parameters": {
        "command": "node tools/code_generator.js"
      },
      "id": "code-builder",
      "name": "Tự động sinh Code React",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 1200, 300 ]
    },
    {
      "parameters": {
        "command": "node tools/qa_validator.js"
      },
      "id": "qa-agent",
      "name": "Kiểm định hình ảnh (QA)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 1400, 300 ]
    },
    {
      "parameters": {
        "command": "npx remotion render AutoVideo \"n8n_factory_output.mp4\" --overwrite",
        "executeOnce": true
      },
      "id": "final-render",
      "name": "Render Video MP4",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [ 1600, 300 ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Đọc Kịch Bản",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc Kịch Bản": {
      "main": [
        [
          {
            "node": "Gemini (Đạo diễn chia cảnh)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Đạo diễn chia cảnh)": {
      "main": [
        [
          {
            "node": "Lưu video_plan.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu video_plan.json": {
      "main": [
        [
          {
            "node": "ElevenLabs (Tạo file âm thanh & VTT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs (Tạo file âm thanh & VTT)": {
      "main": [
        [
          {
            "node": "Đồng bộ Frame Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đồng bộ Frame Logic": {
      "main": [
        [
          {
            "node": "Tự động sinh Code React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tự động sinh Code React": {
      "main": [
        [
          {
            "node": "Kiểm định hình ảnh (QA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm định hình ảnh (QA)": {
      "main": [
        [
          {
            "node": "Render Video MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
